#swagger config
spring.http.multipart.max-file-size=10MB
spring.http.multipart.max-request-size=10MB


swagger.apiInfo.contactEmail = buckymini@gmail.com
swagger.apiInfo.contactName = buckymini@gmail.com
swagger.apiInfo.contactUrl = http://github.com/dimdang/cool-zoo
swagger.apiInfo.description = Users Restful API with Spring Boot + Spring Data + Spring Rest.
swagger.apiInfo.license = Apache 2.0
swagger.apiInfo.licenseUrl = http://www.apache.org/licenses/LICENSE-2.0.html
swagger.apiInfo.termOfServiceUrl = http://swagger.io/terms/
swagger.apiInfo.title = User Management API
swagger.apiInfo.version = 1.0.0

swagger.defaultKey.page = page
swagger.defaultKey.size = size
swagger.defaultKey.sort = sort

swagger.defaultValue.page = 0
swagger.defaultValue.size = 20
swagger.defaultValue.sort = id,desc